body{
    background-image: url(./Netflix-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}
.wrapper{
    background-color:black;
    border: 2px solid black;
    width: 500px;
    height: auto;
    margin:90px auto;
    font: size 30px;
    text-align: center;
    color: white;   
}
.sign-in,h3{
    font-size: 20px;
}
#sign-in,button{
    background-color:red;
    color:black;
    font-size: 15px;
}